interactions:
  - request:
      body:
        '{"empresa": "TAMIZI", "page": 0, "tipoOrden": "R", "fechaOperacion": "20240515",
        "firma": "wnfsoqbhFPCxxAKjxgLxyTRO3KpzUOvWHiY7mKOfNCH4kCn1qaDHCwb72u7Z73fYCogk4LKg0H4qFWePsOMJZFbTG8SG8MKU1Z0JAuHwfGqes1eYWjLFATR8q7FVh1/ifFE6vOzmpB5fEfsmhmTjPVk4sCUqTVJTOqZNLoSe2ug="}'
      headers:
        Content-Type:
          - application/json
      method: POST
      uri: https://efws-dev.stpmex.com/efws/API/V2/conciliacion
    response:
      body:
        string: '{"estado": 0,"mensaje": "Datos consultados correctamente","datos": [{"idEF": 1245213, "claveRastreo": "PruebaJerry", "claveRastreoDevolucion": "COP20201234567895 ", "conceptoPago": "PRUEBA JERRY", "cuentaBeneficiario": "6461800000123749", "cuentaOrdenante": "646180126202948362", "empresa": "DAE", "estado": "CCO", "fechaOperacion": 20240515, "institucionContraparte": 90646, "institucionOperante": 90646, "medioEntrega": 1, "monto": 0.01, "nombreBeneficiario": "PREUABA", "nombreOrdenante": "Prueba", "nombreCep": null, "rfcCep": "ND", "sello": null, "rfcCurpBeneficiario": null, "referenciaNumerica": 4197736, "rfcCurpOrdenante": "RFC001100", "tipoCuentaBeneficiario": 40, "tipoCuentaOrdenante": 40, "tipoPago": 1, "tsCaptura": 1641925846953, "tsLiquidacion": 1641925846953, "causaDevolucion": null, "urlCEP": "https://www.banxico.org.mx/cep/go?i=90646&s=20210110.90646" }], "total": 1}'
      headers:
        Content-Type:
          - application/json
      status:
        code: 200
        message: OK
version: 1
